.home-container .contact-info-container {
  opacity: 0.7;
  transform: translateX(-3.125rem) scale(1.1);
  transition: opacity 1s ease, transform 1s ease;
}

.home-container .contact-field {
  opacity: 0.7;
  transform: translateX(3.125rem) scale(1.1);
  transition: opacity 1s ease, transform 1s ease;
}

.home-container .contact-info-container.fadeIn,
.home-container .contact-field.fadeIn {
  opacity: 1;
  transform: translateX(0) scale(1);
  -webkit-transform: translateX(0) scale(1);
  -moz-transform: translateX(0) scale(1);
  -ms-transform: translateX(0) scale(1);
  -o-transform: translateX(0) scale(1);
}

/************ Banner Css ************/
.banner {
  position: relative;
  padding: 5vh 0 50vh 0;
  text-align: center;
  overflow: hidden;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.banner-content .text-content {
  margin-top: 15vh;
  padding-left: 7vw;
  max-width: 45vw;
  text-align: left;
}
.banner-content .text-content h1 {
  font-size: 2.8125rem;
}

.banner-content .text-content p {
  font-size: 1.2rem;
}

.banner-content .image-holder {
  position: relative;
  width: 25vw;
  height: auto;
}
@keyframes hueRotate {
  0% {
    filter: hue-rotate(10deg);
    -webkit-filter: hue-rotate(10deg);
  }
  25% {
    filter: hue-rotate(20deg);
    -webkit-filter: hue-rotate(20deg);
  }
  50% {
    filter: hue-rotate(30deg);
    -webkit-filter: hue-rotate(30deg);
  }
  75% {
    filter: hue-rotate(40deg);
    -webkit-filter: hue-rotate(40deg);
  }
  100% {
    filter: hue-rotate(50deg);
    -webkit-filter: hue-rotate(50deg);
  }
}

.image-holder .image-content {
  position: absolute;
  width: 25vw;
  top: -9.375rem;
  left: 0px;
  mix-blend-mode: difference;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}
.image-holder .image-content:hover {
  animation: hueRotate 1s ease infinite alternate;
}

.image-holder .image-content:nth-child(1) {
  z-index: 3;
  transform: translateX(0);
  filter: hue-rotate(20deg);
  -webkit-filter: hue-rotate(20deg);
}

.image-holder .image-content:nth-child(2) {
  z-index: 2;
  transform: translateX(-2%);
  filter: hue-rotate(150deg);
  -webkit-transform: translateX(-2%);
  -moz-transform: translateX(-2%);
  -ms-transform: translateX(-2%);
  -o-transform: translateX(-2%);
  -webkit-filter: hue-rotate(150deg);
}

.image-holder .image-content:nth-child(3) {
  z-index: 1;
  transform: translateX(2%);
  filter: hue-rotate(270deg);
  -webkit-filter: hue-rotate(270deg);
  -webkit-transform: translateX(2%);
  -moz-transform: translateX(2%);
  -ms-transform: translateX(2%);
  -o-transform: translateX(2%);
}
.banner-content .tagline {
  font-weight: bold;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
  margin-bottom: 16px;
  display: inline-block;
  opacity: 0.7;
  transform: scaleY(0.8) translateY(50%);
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -webkit-transform: scaleY(0.8) translateY(50%);
  -moz-transform: scaleY(0.8) translateY(50%);
  -ms-transform: scaleY(0.8) translateY(50%);
  -o-transform: scaleY(0.8) translateY(50%);
}

.banner-content .tagline.fadeIn {
  opacity: 1;
  transform: translate(0) scale(1);
  -webkit-transform: translate(0) scale(1);
  -moz-transform: translate(0) scale(1);
  -ms-transform: translate(0) scale(1);
  -o-transform: translate(0) scale(1);
}
.banner-content .image-content img {
  width: 100%;
  height: auto;
}
.banner-button {
  margin-top: 2vh;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.banner-button a {
  text-decoration: none;
  color: inherit;
}
.banner-button:hover {
  transform: translateX(0.1875rem);
  -webkit-transform: translateX(0.1875rem);
  -moz-transform: translateX(0.1875rem);
  -ms-transform: translateX(0.1875rem);
  -o-transform: translateX(0.1875rem);
}

.banner-button .text {
  margin-right: 0.625rem;
  text-decoration: none;
  position: relative;
  top: -0.313rem;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
  }
  .footer-row {
    flex-direction: row;
  }
  .logo-section,
  .social-section {
    flex: 1;
  }

  .logo-section img {
    min-width: 120px;
    height: auto;
  }
  .social-section {
    align-items: flex-end;
    text-align: right;
  }
}
