.home-container .contact-info-container {
  opacity: 0.7;
  transform: translateX(-3.125rem) scale(1.1);
  transition: opacity 1s ease, transform 1s ease;
}

.home-container .contact-field {
  opacity: 0.7;
  transform: translateX(3.125rem) scale(1.1);
  transition: opacity 1s ease, transform 1s ease;
}

.home-container .contact-info-container.fadeIn,
.home-container .contact-field.fadeIn {
  opacity: 1;
  transform: translateX(0) scale(1);
  -webkit-transform: translateX(0) scale(1);
  -moz-transform: translateX(0) scale(1);
  -ms-transform: translateX(0) scale(1);
  -o-transform: translateX(0) scale(1);
}
