:root {
  --skills--font--size: 15px;
  --skills--items--padding: 2.3rem 1.2rem 1.3rem 1.2rem;
  --skills--items--border-radius: 30px;
  --skills--items--margin: 15px;
  --skills--items--box--shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
  --color-academic: #377a65;
  --color-work: #a98531;
  --svg--circle--padding--left: 5px;
  --button-border-radius: 5px;
  --skills--header-font-size: 25px;
}

.SkillsHome h1 {
  margin-top: 6rem;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.skills-container {
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-category-header h2 {
  font-size: var(--skills--header-font-size);
  text-decoration: none;
}
.skills-category-header {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.skills-container .skills-category {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-items {
  margin: var(--skills--items--margin);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  font-size: var(--skills--font--size);
  box-shadow: var(--skills--items--box--shadow);
  padding: 1rem 0.8rem;
  transition: all 0.3s ease;
  margin: 5px 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.skills-items h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.skills-container .labels {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.skills-container .label {
  display: flex;
  align-items: center;
  font-size: var(--skills--font--size);
}

.skills-container .color-box {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.skills-container .academic-label .color-box {
  background-color: var(--color-academic); /* Match academic circle color */
}

.skills-container .work-label .color-box {
  background-color: var(--color-work); /* Match work circle color */
}

@media screen and (max-width: 768px) {
  .skills-container .skills-category-header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .skills-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 130px));
    gap: 10px;
  }

  .progress .YOE {
    font-size: 12px;
  }
}
