.contact-container {
    background-color: rgb(0, 0, 0); 
    color: white;
    padding: 150px; /* Reduced padding */
    max-width: 950px; /* Adjusted width for a centered look */
    margin: auto;
}

.contact-layout {
    display: flex; /* Use Flexbox for layout */
    justify-content: space-between; /* Space between columns */
}

.contact-info-container {
    flex: 1; 
    margin-right:30px; 
    max-width: 450px;
}
.contact-info-container h1 {
    text-align: left;
    padding-bottom: 30px;
}

.contact-info {
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #2d2d2d;
    border-radius: 7px;
    text-align: left;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.contact-info span, .contact-info a {
    margin-left: 10px; 
    color: white; 
    text-decoration: none; 
}

.contact-info a:hover {
    text-decoration: underline;
    color: cadetblue; 
}

.contact-field {
    flex: 1; /* Allow form to take full height */
    margin-top: 150px; /* Space above the form */
    margin-left: 60px;

}

.form-group {
    margin-bottom: 15px; /* Space between form fields */
    
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border:none;
    background-color: #2d2d2d;
    color: white;
    max-width: 400px;
    outline: none;
    box-shadow: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.form-group textarea {
    resize: vertical; /* Allow vertical resizing */
    height: 100px; /* Default height */
}

button {
    background-color: #ff5733; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 15px; /* Padding inside button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
}

button:hover {
    background-color: #a83a21; /* Darker blue on hover */
}
