.contact-container {
    color: white;
    padding: 150px; 
    max-width: 950px; 
    margin: auto;
}

.contact-layout {
    display: flex; 
    justify-content: space-between; 
}

.contact-info-container {
    flex: 1; 
    margin-right:30px; 
    max-width: 450px;
}
.contact-info-container h1 {
    text-align: left;
    padding-bottom: 30px;
}

.contact-info {
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #2d2d2d;
    border-radius: 7px;
    text-align: left;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.contact-info span, .contact-info a {
    margin-left: 10px; 
    color: white; 
    text-decoration: none; 
}

.contact-info a:hover {
    text-decoration: underline;
    color: cadetblue; 
}

.contact-field {
    flex: 1; 
    margin-top: 150px; 
    margin-left: 60px;

}

.form-group {
    margin-bottom: 15px; 
    
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border:none;
    background-color: #2d2d2d;
    color: white;
    max-width: 400px;
    outline: none;
    box-shadow: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.form-group textarea {
    resize: vertical; 
    height: 100px; 
}

button {
    font-size: 1.2rem;
    background-color: #ff5733;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

button:hover {
    background-color: #a83a21; 
}
