.contact-layout {
  padding-top: 15vh;
  padding-left: 26vw;
  display: flex;
  justify-content: space-between;
}

.contact-info-container {
  flex: 1;
  margin-right: 30px;
  max-width: 45vh;
}
.contact-info-container h1 {
  text-align: left;
  padding-bottom: 30px;
}

.contact-info {
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  background-color: var(--primary--color);
  box-shadow: var(--skills--items--box--shadow);
  border-radius: 7px;
  text-align: left;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.contact-info span,
.contact-info a {
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.contact-info a:hover {
  position: relative;
  bottom: 1px;
  right: 1px;
}

.contact-field {
  flex: 1;
  margin-top: 150px;
  margin-left: 60px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  min-width: 25vw;
  max-width: 38vw;
  padding: 10px;
  border-radius: 7px;
  border: none;
  outline: none;
  box-shadow: var(--skills--items--box--shadow);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.form-group textarea {
  resize: vertical;
  height: 10vh;
}

.contact-field button {
  font-size: 1.2rem;
  background-color: var(--primary--color);
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.contact-field button:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100vw;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .contact-layout {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .contact-info-container {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 65vw;
  }

  .contact-info-container h1 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 1.5rem;
  }

  .contact-info {
    text-align: left;
    padding: 10px;
  }

  .contact-field {
    margin-top: 20px;
    margin-left: 0;
  }

  .form-group input,
  .form-group textarea {
    min-width: 70vw;
    padding: 8px;
    font-size: 1rem;
  }

  .contact-field button {
    min-width: 30vw;
    padding: 10px;
    font-size: 1rem;
  }
}
