.contact-layout {
  padding-top: 15vh;
  padding-left: 26vw;
  display: flex;
  justify-content: space-between;
}

.contact-info-container {
  flex: 1;
  margin-right: 30px;
  max-width: 45vh;
}
.contact-info-container h1 {
  text-align: left;
  padding-bottom: 30px;
}

.contact-info {
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  background-color: var(--primary--color);
  box-shadow: var(--skills--items--box--shadow);
  border-radius: 7px;
  text-align: left;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.contact-info span,
.contact-info a {
  margin-left: 10px;
  text-decoration: none;
}

.contact-info a:hover {
  position: relative;
  bottom: 1px;
  right: 1px;
}

.contact-field {
  flex: 1;
  margin-top: 150px;
  margin-left: 60px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  min-width: 25vw;
  max-width: 38vw;
  padding: 10px;
  border-radius: 7px;
  border: none;
  outline: none;
  box-shadow: var(--skills--items--box--shadow);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.form-group textarea {
  resize: vertical;
  height: 10vh;
}

.contact-field button {
  font-size: 1.2rem;
  background-color: var(--primary--color);
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.contact-field button:hover {
  position: relative;
  bottom: 3px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100vw;
    height: auto; /* Allow the container height to adjust */
    padding: 20px; /* Add padding to avoid content touching screen edges */
    box-sizing: border-box;
  }

  .contact-layout {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align the content */
    padding: 10px 0; /* Adjust padding for smaller screens */
  }

  .contact-info-container {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 65vw;
  }

  .contact-info-container h1 {
    text-align: center; /* Center-align heading */
    padding-bottom: 15px;
    font-size: 1.5rem; /* Adjust font size */
  }

  .contact-info {
    text-align: left; /* Center-align contact items */
    padding: 10px; /* Adjust padding for smaller screen */
  }

  .contact-field {
    margin-top: 20px; /* Adjust margin */
    margin-left: 0; /* Remove left margin */
  }

  .form-group input,
  .form-group textarea {
    width: 70vw;
    padding: 8px; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
  }

  .contact-field button {
    width: 30vw;
    padding: 10px; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
  }
}
