.enter-container circle {
  fill: none;
  stroke-width: 7;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.enter-container {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(174, 174, 174, 0.463);
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.enter-container svg {
  position: relative;
  z-index: 2;
}
.circle1 {
  stroke: #d15b5b;
}

.circle2 {
  stroke: #5cad71;
}

.circle3 {
  stroke: #5b8fb9;
}

.circle4 {
  stroke: #a476c1;
}

.circle5 {
  stroke: #d6a554;
}

.circle6 {
  stroke: #59b3b3;
}
