.github-link {
  position: absolute;
  left: calc(50% + 100px); /* Position the Github link 20px to the right of the h2 */
  color: #007bff;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.github-link:hover {
  color: #0056b3; /* Change color on hover */
  text-decoration: underline; /* Underline on hover */
}

.projects-container {
  max-width:1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
} 

.projects-container h1 {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 10px;
}

.projects-container p{
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  line-height: 1.6;
} 

.projects-header {
  position: relative;
  display: flex;
  justify-content: center; /* Center the h2 */
  align-items: center;
  width: 100%;
}

.projects-header h2 {
  font-size: 24px;
  color: #ffffff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}