:root {
  --skills--font--size: 15px;
  --skills--items--padding: 15px;
  --skills--items--border-radius: 30px;
  --skills--items--margin: 15px;
  --skills--items--box--shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
  --color-academic: #377a65;
  --color-work: #a98531;
  --svg--circle--padding--left: 5px;
  --button-border-radius: 5px;
  --skills--header-font-size: 25px;
}

.skills-container {
  padding-left: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-category-header h2 {
  padding-left: 2vh;
  font-size: var(--skills--header-font-size);
  text-decoration: none;
}
.skills-category-header {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.skills-category {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}

.other-items {
  margin: var(--skills--items--margin);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  font-size: var(--skills--font--size);
  box-shadow: var(--skills--items--box--shadow);
  padding: 1rem 0.8rem;
  margin: 5px 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.skills-items {
  margin: var(--skills--items--margin);
  background-color: rgb(255, 255, 255);
  border-radius: var(--skills--items--border-radius);
  font-size: var(--skills--font--size);
  padding: var(--skills--items--padding);
  box-shadow: var(--skills--items--box--shadow);
  transition: all 0.3s ease;
  margin: 5px 0;
  -webkit-border-radius: var(--skills--items--border-radius);
  -moz-border-radius: var(--skills--items--border-radius);
  -ms-border-radius: var(--skills--items--border-radius);
  -o-border-radius: var(--skills--items--border-radius);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.skills-items h3 {
  text-align: center;
}
.progress {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.progress svg {
  padding-left: var(--svg--circle--padding--left);
  width: 7rem;
  height: 7rem;
}

.progress svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
}

.academic-circle,
.work-circle {
  transition: stroke-dashoffset 2s ease;
  -webkit-transition: stroke-dashoffset 2s ease;
  -moz-transition: stroke-dashoffset 2s ease;
  -ms-transition: stroke-dashoffset 2s ease;
  -o-transition: stroke-dashoffset 2s ease;
}
.academic-circle {
  stroke: var(--color-academic);
}

.work-circle {
  stroke: var(--color-work);
}

.progress .YOE {
  position: absolute;
  top: -5px;
  left: -6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: left;
  padding-left: 30px;
}

.skills-container .sort-dropdown {
  position: relative;
  margin-bottom: 10px;
}
.skills-container .dropdown-menu {
  width: 120%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.sort-dropdown button {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  height: 80%;
  cursor: pointer;
  border-radius: var(--button-border-radius);
  -webkit-border-radius: var(--button-border-radius);
  -moz-border-radius: var(--button-border-radius);
  -ms-border-radius: var(--button-border-radius);
  -o-border-radius: var(--button-border-radius);
}
.skills-container .dropdown-menu button {
  display: block;
  padding: 2px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}
.skills-container .dropdown-menu button:hover {
  background-color: #f0f0f0;
  width: fit-content;
}

.skills-container .labels {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.skills-container .label {
  display: flex;
  align-items: center;
  font-size: var(--skills--font--size);
}

.skills-container .color-box {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.skills-container .academic-label .color-box {
  background-color: var(--color-academic); /* Match academic circle color */
}

.skills-container .work-label .color-box {
  background-color: var(--color-work); /* Match work circle color */
}

@media screen and (max-width: 768px) {
  .skills-container .skills-category-header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .skills-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 130px));
    gap: 10px;
  }

  .progress .YOE {
    font-size: 12px;
  }
}
