:root {
  --skills--font--size: 15px;
  --skills--items--padding: 15px;
  --skills--items--border-radius: 30px;
  --skills--items--margin: 15px;
  --skills--items--box--shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
  --color-academic: #0c6247;
  --color-work: #a17819;
  --svg--circle--padding--left: 5px;
}

.skills-container {
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-container h2 {
  font-size: 25px;
  color: #010000;
  text-decoration: none;
}

.skills-category {
  display: flex;
  flex-direction: row;
  align-items: start;
  border-style: dashed;
  border-color: rgb(9, 10, 11);
  gap: 10px;
}

.skills-items {
  border-color: #b72828;
  border-style: dotted;
  margin: var(--skills--items--margin);
  background-color: rgb(255, 255, 255);
  border-radius: var(--skills--items--border-radius);
  font-size: var(--skills--font--size);
  padding: var(--skills--items--padding);
  box-shadow: var(--skills--items--box--shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px 0;
  -webkit-border-radius: var(--skills--items--border-radius);
  -moz-border-radius: var(--skills--items--border-radius);
  -ms-border-radius: var(--skills--items--border-radius);
  -o-border-radius: var(--skills--items--border-radius);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.skills-items h3 {
  text-align: center;
}
.progress {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.progress svg {
  padding-left: var(--svg--circle--padding--left);
  width: 7rem;
  height: 7rem;
}

.progress svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
}

.academic-circle,
.work-circle {
  stroke-dashoffset: -30;
}

.academic-circle {
  stroke: var(--color-academic);
}

.work-circle {
  stroke: var(--color-work);
}

.progress .YOE {
  position: absolute;
  top: -5px;
  left: -6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: left;
  padding-left: 30px;
}
