.App {
  text-align: center;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #000000; /* Dark background */
  color: white;
}

/* Navbar left (Your name) */
.navbar-left h1 {
  padding-left: 200px;
  margin: 0;
  font-size: 1.1rem;
}

/* Navbar right (Buttons) */
.navbar-right button {
  background: none;
  color: white;
  border: none;
  margin: 0 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-right button:hover {
  color: #61dafb; /* React blue color */
}

