:root {
  --primary--color: #ffffff;
  --secondary--color: #ff5733;
  --thrid--color: #343333;
  --background--color: rgb(211, 211, 211);
  --font--color: rgb(0, 0, 0);
}
body {
  background-color: var(--background--color);
}
.App {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  padding-right: 10vw;
}

.navbar-left img {
  margin-left: 10vw;
  width: 25%;
}

.navbar-right {
  position: relative;
}

.navbar-right .menu-button {
  display: none;
}
.nav-links {
  display: flex;
}
.navbar-right button {
  font-weight: bold;
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 7px;
}

.navbar-right button:hover {
  position: relative;
  bottom: 3px;
  transition: all 0.3s ease;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .navbar-right .menu-button {
    position: relative;
    display: inline-block;
    z-index: 10;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background--color);
    z-index: 1;
    gap: 15px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links button {
    margin: 2vh;
    font-size: 1.5rem;
    color: var(--font--color);
  }

  .navbar-right button:hover {
    position: relative;
    bottom: 3px;
    transition: all 0.3s ease;
  }

  .no-scroll {
    overflow: hidden;
  }
}
